body{
    overflow: hidden;
}

img{
    height: 100px;
    display: block;
    margin: auto;
}

.search {
    margin: 1em 8em !important;
}

.search .ui.input{
    width: 100%;
    color: #b35317;
}
.search .ui.input>input{
    color: #b35317;
    font-weight: bold;
}
.search .enterButton{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: white;
    background: #ff8d00;
}

.search ul{
    padding: 0;
    padding-right: 1em;
    overflow-y: auto;
    height: 750px;
}

.search li{
    padding: 1.75em 0;
    list-style: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid black
}

.search .buttons{
    float: right;
}

.search .buttons button{
    color: #ff8d00;
    border-radius: 10px;
    font-weight: bold;
}

.search .buttons .ml-15{
    margin-left: 15px;
}

.ui.grid.context{
    border-radius: 20px;
}

.context{
    background: #636363;
}

.podo{
    height: 200px;
}

.three.wide.column.left{
    border-right: 1px solid #b59a69
}

.stretched.thirteen.wide.column.content{
    padding-left: 3em;
}

#leftMenu{
    border-right: none;
    padding: 3em;
}

a.links{
    font-size: 27px;
    font-weight: bold;
}

a:focus{
    color: orange;
}
a:focus-visible{
    color: orange;
}


.ui.table tr td{
    border-top: none;
}
.ui.celled.table tr td, .ui.celled.table tr th{
    border-left: none
}

.ui.table{
    background: #e6e5e561;
    font-size: 17px;
}
.ui.table thead th{
    background: none !important;
    color: #f07b0b;
}

.mr40{
    margin-right: 40px!important;
}
.ui.header.tableColor{
    padding: 25px 5px;
    margin: 0;
    font-size: 27px;
    color: #fb7c08;
    background: #e6e5e561;
}

Table i.icon{
    color: #f07b0b
}

.ui.table tr td {
    color: #18265B;
}

.noSubmission{
    text-align: center;
    margin: 4em !important;
}

.noSubmission i.inbox.icon{
    font-size: 4em;
    color: orange;
}
textarea{
    height: 195px;
    width: 360px;
}

.ui.header.orderModal{
    padding: 25px 5px;
    margin: 0;
    font-size: 27px;
}

.center.aligned.column.contentEdit{
    padding: 45px;
}

.center.aligned.column.contentEdit p{
    margin: 0.25em; 
}

.editTexts{
    margin: 1.75em;
}

.p15{
    padding: 15px;
}

.ui.modal.transition.visible.active.modalEdit{
    border-radius: 35px;
    background: #dcdcdc;
}

.ui.header.editHeader{
    color: #ef9428;
    font-size: 26px;
}

.ui.checkbox{
    font-size: 22px;
}
